/* #userImg{
    width: 45px;
    height: 30px;
} */

#iconlist{
   
    list-style: none;
    /* position: absolute;
    left: 50px;
    top:5px; */
}

/* #userProfBtn{

    margin-top:5px;
    margin-left: 20px; 
    height: 50px;
    width: 50px;
   border-radius: 25px;
} */

#userImg{
    margin-top:5px;
    margin-left: 20px; 
    height: 50px;
     width: 50px;
    background-color: #C1E3D2;
    border-radius: 25px;
    border:2px solid #C1E3D2;
    
} 
#AForP{
margin: 0px;
padding: 0px;
}
#logoutList{
    list-style: none;

    display:none;
    /* padding-left: px; */
    padding-left:0px; 
     
    background-color: transparent; 
    width: 115px;
    height: 50px;

    position: absolute;
    
} 
#iconlist:hover #logoutList {
    display: block;
}


#logoutBtn{
    
    background-color: rgb(149, 211, 149);
    color: white;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    margin-top: 10px;
}

#logoutBtn:hover{
    background-color:white; 
    color: rgb(149, 211, 149);
    border: 5px rgb(149, 211, 149);
    /* border:  */
    /* border-color:  */
    }